# InfluxDB configuration (InfluxDB Cloud)

INFLUX_URL=https://us-east-1-1.aws.cloud2.influxdata.com
INFLUX_TOKEN=w3X1xPQ3roEsQeoFyvhlJ44kz6MlBKkJqRYAYXCPvDyUFZrtPBc8j9mUErHcogQhfySxlz9QRcxu6YbQY_bFQw==
INFLUX_ORG=iot-test-ring
INFLUX_BUCKET=iot-data1

APP_SECRET=replace_with_a_long_random_secret
INGEST_API_KEY=replace_with_a_plc_ingest_key

PORT=4000
CLIENT_ORIGIN=http://localhost:5173
# In production, set CLIENT_ORIGIN to your deployed dashboard URL.